/* *  Base Style  * */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
}

a:hover,
a:active {
  color: white;
}

/* *  Navigation Style  * */

.navbar {
  background: #1e2d38;
  opacity: 1;
}

.navbar-nav a {
  color: #f78458;
  margin: 0 30px;
}

.navbar-toggler {
  color: white;
  border: none;
  outline: none !important;
}

.navbar-toggler .fa {
  color: white;
  font-size: 26px;
}

.nav-link:hover {
  color: white;
}

#header .btn {
  border: 1px solid white;
  margin-top: 20px;
  padding: 6px 26px;
  font-size: 16px;
}

/* * About Section * */

#about {
  color: rgb(54, 54, 54);
}

.container {
  background-color: rgb(235, 231, 231);
  margin-top: 20px;
}

.container-fluid h2,
.port-style h2 {
  text-align: center;
  margin-bottom: 5px;
  padding-top: 30px;
}

.container-fluid hr,
.port-style hr {
  background: rgb(214, 211, 211);
  margin: 0 200px;
}

.style-row {
  padding-top: 30px;
}

.style-col {
  margin: auto;
  padding: 20px;
}

.style-col img {
  margin-right: 15px;
  float: left;
}

.style-col p {
  font-size: 15px;
}

.links {
  text-align: center;
  margin: auto;
}

.links span {
  margin: 0 10px;
}

.links span i {
  color: #3276a3;
}

/** Porfolio Section **/
#portfolio {
  color: rgb(54, 54, 54);
}

.port-style {
  margin-bottom: 30px;
  /* padding-bottom: 10px; */
}

.port-style .col {
  margin-bottom: 20px;
}

.card {
  text-align: center;
}

.card-btn {
  background: #1e2d38;
  color: #f78458;
  margin: 10px;
}

.card-btn:link,
.card-btn:visited {
  color: #f78458;
}

.card-btn:hover {
  font-size: 17px;
}

/* *  Footer Style  * */

.footer-div {
  width: 100%;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.footer-div span {
  font-size: 15px;
  color: white;
  margin: 20px;
}
